<div class="container group-edit">
  <h1>Create New Group</h1>
  <%= form_for @group do |f| %>
    Name your group <br>
    <%= f.text_field :name, placeholder: "Group Name" %> <br>
    Group description <br>
    <%= f.text_area :description, placeholder: "Group Description"%><br>
    <%= f.submit %>
  <% end %>
</div>
