<div class = "container">
  <div class="title">
    <h1>UNTIL WE PART</h1>
    <h3>Collect moments, not things.<br> We are terminally ill after all.</h3>
  </div>
  <!-- <div class="countdown-div">
    <button class="btn btn-success">How much time do you have?</button>
  </div> -->
</div>
